@font-face {
    font-family: 'Birds';
    src: url('Birds of Paradise ╕ PERSONAL USE ONLY.ttf');
}

html {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 50px;
    font-weight: normal;
    width: 100%;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a { 
    border-radius: 26px;
    padding: 0;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center; 
    text-decoration: none;
    max-width: 300px;
}

nav#recipes {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}


div#carbonara {
    border-radius: 25px;
    margin: 0;
    padding: 0;
    background-image: url(image/spaghetti-carbonara.jpg);
    background-size: contain;
    width: 300px;
    height: 200px;
    font-family:'Birds';
}


div#lasanha {
    border-radius: 25px;
    margin: 0;
    padding: 0;
    background-image: url(image/lasanha2.jpg);
    background-size: contain;
    width: 300px;
    height: 200px;  
    font-family:'Birds';
}

div#strogonoff {
    border-radius: 25px;
    margin: 0;
    padding: 0;
    background-image: url(image/strogonoff2.jpg);
    background-size: contain;
    width: 300px;
    height: 200px;  
    font-family:'Birds';
}

div.rec {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
    transition: 0.3s;

}
h2.food {    
    margin: 0;
    width: 100%;
    height: 100%;
    color: rgba(255, 235, 205, 0);

}

h2.food:hover {
    opacity: 1.0; 
    font-size: 50px;   
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-weight: lighter;
    color: black;
    transition: 0.4s;
}

div.rec:hover {    
    transition-duration: 0.4s;
    opacity: 1.0;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}








